.Momocode{
    background-color: white;
}

.CreditCard{
    background-color: white;
}

.payTitles{
    color: #29a3b6;
    font-size: 18px;
}

.card_1, .card_2{
    padding-top: 50px;
    background-color: whitesmoke;
    height: 300px;
    align-items: center;
}


.card_1:hover, .card_2:hover{
    padding-top: 50px;
    background-color: gainsboro;
    height: 300px;
    align-items: center;
}

.prbtn{
    background-color: #ff9538;
    color: white;
    width: 200px;
    margin-top: 20px;
    border-color: #ff9538;
}


.m_info{
    margin-top: 30px;
}


.warn{
    /*height: 20px;*/
    background-color: #eeb300;
       
}
.topnav{
    background-color: whitesmoke;
    width: 100%;
    height: 10%;
    float: top;
    box-shadow: 1px 2px gray;
    position: fixed;
    
}

#phead{
    float: left;
    margin-left: 20px;
        font-size: 16px;
    font-family: verdana;
    text-decoration: none;
    color: black;
   padding: 20px;
}

.sidebar{
    margin-left: 0px;
    background-color: #001910;
    width: 15%;
    height: 100%;
    position: fixed;
    margin-top: 5%;
    
}

.bodyarea{
    background-color: white;
    width: 85%;
    height: 100%;
    float: right;
    padding: 40px;
}

.mytable{
    background-color: white;
    width: 85%;
    height: 100%;
    float: right;
    padding: 40px;
    
}



td,th{
    border: 1px solid #d5d5d5;
    
     
}

th{
    background-color: #002100;
  color: white;
}

.infobox{
    padding-top: 100px;
    height: 40px;
    width: 80%;
    background-color: #d5d5d5;
    border-radius: 5px;
    margin-left: 250px;
}
#infoparagraph{
    font-size: 16px;
    /*padding: 40px;*/
    font-family: verdana;
    padding-top: 0px;
    
}

ul{
    margin-left: 0px;
    padding-left: 0px;    
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    font-family: verdana;
     padding: 20px;
     display: block;

    
}

ul li a:hover{
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    font-family: verdana;
    background-color: #06443E;
    display: block;
    padding: 20px;
    border-left-color: #12F5E7;
    border-left-style: solid;
   
}

/*Top nav*/

.acc{
    margin-left: 0px;
    padding-left: 0px;    
}

.acc{
    list-style: none;
    display: inline;
    float: right;

}

.acc{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: verdana;
     padding: 20px;}





.active{
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    font-family: verdana;
    background-color: #007b20;
    display: block;

}


@media(max-width: 200px){
.sidebar{
    margin-left: 0px;
    background-color: #001910;
    width: 15%;
    height: 100%;
    position: fixed;
    margin-top: 5%;
    
}
 
}